.Snake-board {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.Snake-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Game-over {
  position: absolute;
  font-family:'Montserrat Alternates', sans-serif;
  font-size: 50px;
  color: green;
  background-color: black;
  font-weight: bold;
  padding: 10px;
}

.tile {
  position: relative;
  width: 25px;
  height: 25px;
  border: 1px solid black;
}

.blank {
  background: white;
}
.snake {
  background: green;
}



.food {
  background: red;
}

.food:after {
  content: "🍎";
}

.obstacle {
  background: black;
}

.Error {
  color: red;
}
